"""
Contains various configurations.
BaseConfig should contain data, that remains constant across environment
DefaultConfig: development configurations
TestConfig: testing configurations
ProdConfig: production related configurations
"""
class BaseConfig:
    APP_NAME = 'app'

    DEBUG = False
    TESTING = False

    # SQLAlchemy configs
    DB_HOST = 'mysql'
    DB_NAME = 'flask_app'
    DB_USER = 'root'
    DB_PASS = ''
    SQLALCHEMY_DATABASE_URI = 'mysql://{}:{}@{}/{}'.format(
        DB_USER, DB_PASS, DB_HOST, DB_NAME
    )
    SQLALCHEMY_TRACK_MODIFICATIONS = False


class DefaultConfig(BaseConfig):
    DEBUG = True


class TestConfig(BaseConfig):
    TESTING = True


class ProdConfig(BaseConfig):
    pass
