"""
Contains various configurations.
BaseConfig should contain data, that remains constant across environment
DefaultConfig: development configurations
TestConfig: testing configurations
ProdConfig: production related configurations
"""


class BaseConfig:
    APP_NAME = 'app'

    DEBUG = False
    TESTING = False

    # SQLAlchemy configs
    DB_HOST = 'mysql'
    DB_NAME = 'flask_frame'
    DB_USER = 'root'
    DB_PASS = ''
    SQLALCHEMY_DATABASE_URI = 'mysql://{}:{}@{}/{}'.format(
        DB_USER, DB_PASS, DB_HOST, DB_NAME
    )
    SQLALCHEMY_TRACK_MODIFICATIONS = False

    # Auth Configs
    BCRYPT_ROUNDS = 12
    OAUTH2_PROVIDER_TOKEN_EXPIRES_IN = 3600
    OAUTHLIB_INSECURE_TRANSPORT = False
    OAUTH_CLIENT_ID = 'CLIENT_ID'
    OAUTH_CLIENT_SECRET = 'CLIENT_SECRET'


class DefaultConfig(BaseConfig):
    DEBUG = True
    OAUTHLIB_INSECURE_TRANSPORT = True


class TestConfig(BaseConfig):
    TESTING = True
    DB_HOST = 'mysql'
    DB_NAME = 'flask_frame_tests'
    DB_USER = 'root'
    DB_PASS = ''
    SQLALCHEMY_DATABASE_URI = 'mysql://{}:{}@{}/{}'.format(
        DB_USER, DB_PASS, DB_HOST, DB_NAME
    )
    MYSQL_URI = 'mysql://{}:{}@{}'.format(
        DB_USER, DB_PASS, DB_HOST
    )


class ProdConfig(BaseConfig):
    pass
